@import "nullstyle.scss";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600;800&display=swap");
@mixin fontsz($f1, $f2, $f3) {
    font-size: ($f1*1rem/16);
    @media (max-width:992px) {
        font-size: ($f2*1rem/16);
    }
    @media (max-width:767px) {
        font-size: ($f3*1rem/16);
    }
}
@mixin property_media($property, $v1, $v2, $v3) {
    #{$property}: ($v1*1rem/16);
    @media (max-width:992px) {
        #{$property}: ($v2*1rem/16);
    }
    @media (max-width:767px) {
        #{$property}: ($v3*1rem/16);
    }}


%template-background {
    background: rgb(255, 0, 71);
    background: linear-gradient(128deg, rgba(255, 0, 71, 1) 3.44%, rgba(130, 233, 255, 1) 87%);
    // background: rgb(26,71,234);
    // background: linear-gradient(128deg, rgba(26,71,234,1) 3.44%, rgba(130,233,255,1) 87%);
}

.wrapper,
a {
    font-family: montserrat;
    color: #fff;
}
.main {
    @extend %template-background;
    height: 100vh;
    display: grid;
    grid-template: minmax(50px, auto) 1.5fr 1fr 1fr / 1fr 5fr minmax(300px, 3fr) 1fr;
    grid-template-areas:
        ". navigation navigation ."
        ". title img ."
        ". subtitle img ."
        ". order-button img ."
        ". . img .";

    position: relative;
    &:after {
        content: "";
        position: absolute;
        bottom: 0;
        width: 100%;
        padding-top: 10%;
        background: url(../img/bg-wave.png) 0 0 / cover no-repeat;
    }

    &__title {
        grid-area: title;
        align-self: end;
        z-index: 2;
        font-weight: 800;
        @include fontsz(38, 30, 25);
        @include property_media(line-height, 50, 40, 35);
        position: relative;
    }

    &__subtitle {
        grid-area: subtitle;
        @include fontsz(16,16,12);
        padding: 10px 0 0 0;
        align-self: start;
        z-index: 2;
    }
    &__button {
        align-self: start;

    }
    &__img {
        grid-area: img;
        z-index: 1;

        display: grid;
        align-items: end;
        overflow: hidden; 

        img {
            object-fit: contain;
            max-width: 100%;
            max-height: 100%;
        }
        @media (max-width:600px) {
            position:absolute;
            opacity: 0.1;
            max-height: 100vh;
                   }
    }
    @media (max-width:600px) {
        grid-template: minmax(50px, auto) 1.5fr 1fr 1fr / 1fr 5fr 1fr;
        grid-template-areas:
            ". navigation ."
            ". title ."
            ". subtitle ."
            ". order-button ."
            ;
    }
}
.nav {
    grid-area: navigation;
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    column-gap: 10%;
    align-items: center;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    z-index: 2;
    text-align: center;

    &__link {
    }
    
}
.order-button {
    grid-area: order-button;
    justify-self: center;
    text-transform: uppercase;
    color:#fff;
    padding: 3%;
    width: 10rem;
    z-index: 2;
    background: linear-gradient(98.89deg, #ff9b05 25.06%, #ff8f3f 88.94%);
    box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.08);
    border-radius: 5px;
    transition-duration: 150ms; 
        &:hover{
            transform: scale(1.3);      
        }
        &:active{
            transform: none ;         
        }
}

.about {
    background: #F5F9FF;
    color: #2E3A59;

    height: 100vh;
    display: grid;
    grid-template: 1fr 3fr 100px / 1fr 3fr 2.5fr 2.5fr 1fr;
    grid-template-areas: 
    ". img title title ."
    ". img deskription deskription ."
    ". img order-button order-button ."
    ;
    align-items: center;
    justify-items: center;

    &__title {
        grid-area: title;
        text-align: center;
    }

    &__img {
        grid-area: img;
        align-self: end;
        img {
            object-position: center;
            object-fit: contain;

            max-width: 100%;
            max-height: 100%;

            @media (max-width:600px) {
                height: 300px;
                text-align: center;
                display: inline;
                
            }
        
        }

    }

    &__deskription {
        grid-area: deskription;
        display: grid;
        align-items: start;
        grid-template: 1fr 2fr/ 1fr 1fr;
        grid-template-areas: 
        "congratulation__title rent__title"
        "congratulation__text rent__text";

    }


    &__subtitle {
        font-weight: 800;
        @include fontsz(25, 20, 20);
        text-align: center;
        padding: 5px;
    
    }

    &__text {
        @include fontsz(18, 18, 12);
        text-align: left;

        li{
            position: relative;
            padding: 10px 0 0 1.2em;
                &:before{
                content: "";
                position: absolute;
                top: 12px;
                left: 0;
                width: 0.8em;
                height: 0.8em;
                background: #FB8500;
                transform: rotate(-45deg);
            }
                &:first-child{
                    margin: 0 0 5px 0;
                    &:before{
                        display: none;
                    }
    

                }

        }
        


    }
    @media (max-width:600px) {
        height: auto;
        grid-template: auto auto auto auto  / 10px 1fr 10px;
        grid-template-areas: 
        ". title ."
        ". deskription ."
        ". img ."
        ". order-button ."
            ;
        
    }


}

.congratulation {

    &__title {
        grid-area: congratulation__title;

    }

    &__text {
        grid-area: congratulation__text;

    }
}
.rent {

    &__title {
        grid-area: rent__title;

    }

    &__text {
        grid-area: rent__text;

    }
}

.title {
    font-weight: 800;
    @include fontsz(38, 30, 25)
}

.cost {
    @extend %template-background;
    height: 100vh;
    display: grid;
    grid-template: 50px 1fr / 1fr 2.33fr 2.33fr 2.33fr 1fr;
    grid-template-areas: 
    ". cost__title cost__title cost__title ."
    ". card__first card__second card__third .";
    justify-items: center;



    &__title {
        grid-area: cost__title;

    }
}

.card {
    display: grid;
    justify-items: center;
    grid-template-areas: 
    "card__title"
    "card__img"
    "card__price"
    "card__button";
    
    ;
    &_first {
        grid-area: card__first;

    }

    &_second {
        grid-area: card__second;

    }

    &_third {
        grid-area: card__third;

    }

    &__title {
        grid-area: card__title;
    }

    &__img {
        grid-area: card__img;


        img {
            object-fit: contain;

            max-width: 100%;
            max-height: 100%;
        }
    }

    &__price {
        grid-area: card__price;

    }

    &__button {
        grid-area: card__button;

    }
}
